<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleInicio.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="row justify-content-center">
        <img src="../images/wel.png" class="img-fluid " id="imgWelcome-login" alt="Responsive image">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-2 col-md-2 col-lg-2">
            </div>
            <div class="col-8 col-md-8 col-lg-8">
                <label class="line-login" for="exampleInputEmail1 ">Correo</label>
                <input type="email" class="form-control line-login1" id="email" aria-describedby="emailHelp" placeholder="Correo">
                <label class="line-login2" for="exampleInputPassword1 ">Contraseña</label>
                <input type="password" class="form-control line-login3" id="password" placeholder="Contraseña">
            </div>
            <div class=" col-1 col-md-2 col-lg-2">
            </div>
        </div>
    </div>
    <div class="form-group mx-auto button-login" style="width: 117px;">
        <button id="button-login-entrar" type="button" class="btn btn-raised ">Entrar</button>
    </div>
    <div id="aparecee">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-functions.js"></script>

    <script src="../js/login.js"></script>
    <script src="../js/firebase.js"></script>

</body>

</html>