#colorbtn{
  margin-top: 500px;
  position: absolute;
  background-color: black;
  font-size: 40px;
  }


  #buttonOut{
    margin-top: 250px;
    margin-left: 100px;
    position: absolute;
    background-color: black;
    font-size: 40px;
    }




  
  .icon{
  position: absolute;
  padding-top: 20px;
  padding-left: 30px;
  
  }
  
  
  .icon2{
  
  font-size: 80px;
  margin-left: 200px;
  margin-top: 20px;
  
  }
  
   .imgTerminal{
  
      height:400px; 
      width:400px;
      position: absolute;
      margin-top: 300px;
   }
  
   .imgWelcome{
  
      height:110px; 
      width: 170px;
      position: absolute;
      padding-top: 30px;  
        
   }
  
   #imgWelcome-login{
  
      height: 90px; 
      width: 200px;
      position: absolute;
      margin-top: 40px;
   }
  
  
   #iconcolor{
  color: black;
  
   }
  
   .line{
  
     
     margin-top: 150px;
        
   }
  
   .line1{
  
     
     margin-top: 50px;
        
   }
  
   .line2{
  
     
     margin-top: 50px;
        
   }
  
   .line3{
  
      
     margin-top: 50px;
        
   }
  
   .line4{
  
      
      margin-top: 35px;
         
    }
  
    .line5{
  
      
      margin-top: 3px;
         
    }
  
  
    .line6{
  
      
      margin-top: 35px;
         
    }
    .line7{
  
      
      margin-top: 3px;
         
    }
  
    #camera{
      
      font-size: 30px;
     
    }
  
    .buttonCamera{
  
      padding-top: 20px;
    }
  
    .button{
  
      padding-top: 10px;
    }
  
    .button-login{
  
      padding-top: 100px;
    }
  
  
    .line-login{
  
     
      margin-top: 260px;
         
    }
  
    .line-login1{
  
     
      margin-top: 5px;
         
    }
  
    .line-login2{
  
     
      margin-top: 70px;
         
    }
  
    .line-login3{
  
     
      margin-top: 5px;
         
    }
    #button-login-entrar{
  
     
     background-color: #74BF93;
         
    }
  
    #registro{  
    background-color: #74BF93;
    margin-left: 90px;
   margin-top: 35px;
   font-size: 20px;    
   }
  
   #video{
  margin-top: 120px;
        
   }
  
   #startbutton{
   margin-top: 35px;  
   margin-left: 230px;
    font-size: 35px;  
     }
  
  #canvas{
  margin-left: 5px;
  margin-top: 150px;
    }