

#colorbtn{
margin-top: 500px;
position: absolute;
background-color: black;
font-size: 40px;
}

.icon{
position: absolute;
padding-top: 20px;
padding-left: 30px;

}
 .imgTerminal{

    height:400px; 
    width:400px;
    position: absolute;
    margin-top: 300px;
 }

 .imgWelcome{

    height:200px; 
    width: 200px;
    position: absolute;
    padding-top: 50px;  
      
 }

 #imgWelcome-login{

    height: 90px; 
    width: 200px;
    position: absolute;
    margin-top: 40px;
 }


 #iconcolor{
color: black;

 }

 .line{

   
   margin-top: 190px;
      
 }

 .line1{

   
   margin-top: 80px;
      
 }

 .line2{

   
   margin-top: 80px;
      
 }

 .line3{

    
   margin-top: 80px;
      
 }

 .line4{

    
    margin-top: 5px;
       
  }


  #camera{
    
    font-size: 30px;
   
  }

  .buttonCamera{

    padding-top: 35px;
  }

  .button{

    padding-top: 10px;
  }

  .button-login{

    padding-top: 100px;
  }


  .line-login{

   
    margin-top: 260px;
       
  }

  .line-login1{

   
    margin-top: 5px;
       
  }

  .line-login2{

   
    margin-top: 70px;
       
  }

  .line-login3{

   
    margin-top: 5px;
       
  }
  #button-login-entrar{

   
   background-color: #74BF93;
       
  }

  #registro{

   
  background-color: #74BF93;
      
 }

 #video{
margin-top: 120px;
      
 }

 #startbutton{
 margin-top: 50px;  
 margin-left: 230px;
  font-size: 35px;  
   }