
#delate{
    
   background-color: white;
}

.container{
    
    padding-top: 20px;
}

.container1{
    
    padding-top: 10px;
}

.container2{
    
    padding-top: 10px;
}
.container3{
    
    padding-top: 10px;
}


.data3{
    
    padding-top: 10px;
}
.data4{
    
    padding-top: 10px;
}

.iconCamera{

    font-size: 30px;
    

}

.titule1{
    
padding-top: 30px;

}

.titule2{
    
    padding-top: 30px;

}

.titule3{
    
    padding-top: 20px;

}

.button1{
    
    padding-top: 10px;

}

.button2{
    
    margin-bottom: 0px;

}


.card{
    
    text-align:center;
    margin-left: 170px;
  
}

